practice/2/task2.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT games (game+)>
<!ELEMENT game (home-team,ex-team,scores,yellows,reds)>
<!ELEMENT home-team (#PCDATA)>
<!ELEMENT ex-team (#PCDATA)>
<!ELEMENT scores (score*)>
<!ELEMENT score (player)>
<!ELEMENT player (#PCDATA)>
<!ELEMENT yellows (player+)>
<!ELEMENT reds (player+)>
<!ATTLIST game score CDATA #REQUIRED>
<!ATTLIST score	me CDATA #REQUIRED>
<!ATTLIST score type CDATA #IMPLIED>
